body .wrapper .main-content .top-content .right-panel .adress li {
    direction: rtl;
}

body .wrapper .bottom-content .booking-form form .form-group .input-group .form-control {
    direction: rtl;
}
.card-body {
    text-align: right;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    direction: rtl;
}
.nav-tabs .nav-link {
    direction: rtl;
}
.nav-tabs--left .nav-link.active .tab-text, .nav-tabs--left .nav-link.active .tab-title {
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;  
}

.nav-tabs--left .nav-link .tab-text, .nav-tabs--left .nav-link .tab-title {
    padding-right: 70px;
    padding-left: 0;
    text-align: right;
    direction: rtl;
}
.footer .footer-container .footer-adress {
    direction: rtl;
}

body .wrapper .main-content nav ul.main {
    text-align: right;
    direction: rtl;
    padding: 0;
}
body .wrapper .main-content nav #lang-menu-nav ul {
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
}
#lang-menu-nav ul li:nth-child(4) {
    margin-right: 0 !important;
}
@media only screen and (max-width: 992px) {
    #mob .slider-info-bar select {
        direction: rtl;
        background: url("../../assets/img/icons/shape copy 2.png") transparent no-repeat calc(4% - 10px)!important;
    }
}

#clients {
    direction: ltr;
    padding-left: 15px;
}
@media only screen and (max-width:992px){
    #clients {
        direction: ltr;
        padding-left: 0px;
    }
}
@media only screen and(min-width:992px){
    .overview , .cont-padding {
        padding: 15px !important;
        padding-right: 0px !important;
    }  
}


#mob .slider-info-bar select {
    direction: rtl;
}
#overview {
    direction: rtl;
}
.top-content .header.sm .btn-container .reserve-btn a {
    direction: rtl;
} 
.middle-content {
    direction: rtl;
} 
.slider-info-bar {
    text-align: right;
}
.review {
    direction: rtl;
    text-align: right;
}
.footer .footer-container {
    text-align: right;
}
.footer .footer-container .footer-instagram h4 {
    margin-right: 10px;
}
.footer .footer-container .footer-subscribe .submit {
    margin-left: auto;
}
.footer .footer-container .footer-subscribe .form-input {
    text-align: right;
}
@media only screen and (max-width:992px){
    .footer .footer-container .footer-subscribe .submit {
        margin-left: auto;
    }
    .footer .footer-container .footer-subscribe .form-input {
        direction: rtl;
    }
    
}

.footer .footer-container .footer-subscribe .submit {
    direction: rtl;
}
.overlook {
    direction: rtl;
    text-align: right;
}
#overview  .overview, .footer .footer-container .footer-links,
.footer .footer-container .footer-subscribe .form-input,
{
    direction: rtl;
}
.list-block {
    direction:rtl;
}
.review .list-block ul:first-of-type {
    margin-left: 200px;
    margin-right: 0px;
}



/* PRESSROOM */
#overview .room-overview {
    text-align: right;
}
#overview .room-title {
    text-align: right;
}
.rooms .card {
    direction: rtl;
}
/* PRESS ROOM NEWS */
.rooms #clients .room-news {
    direction: rtl;
    text-align: right;
}
.rooms #clients .room-news .date-time {
    direction: ltr;
}
.rooms #clients .room-news .navigation a i  {
    direction: ltr;
}
.fa-long-arrow-right:before {
    content: "\f177" !important;
}
.fa-long-arrow-left:before {
    content: "\f178" !important;
}

 /* ---------- ROOM ------------ */

.nav-tabs .nav-link {
    direction: rtl;
}
.highlights {
    direction: rtl;
    text-align: right;
}
.rooms #clients .room-information .reserve-column p {
    direction:rtl;
}
.parent-title {
    direction:rtl;
    text-align: right;
}
.description .desc-txt {
    direction: rtl;
    text-align: right;
}
.description .desc-txt .read-more {
    direction: ltr;
}
.rooms #clients .room-information .highlights-mobile .link:last-child {
    margin-left: 50%;
    margin-right: 0;
}
@media only screen and (max-width:992px){
    #overview .room-title {
        padding-right: 20px;
    }
}
