
@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";
.footer {
    background: grey;
    margin-top: 100px;
    .footer-container {
        max-width: 1340px;
        // height: 70px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 12px;
        margin: 0 auto;
        .footer-adress {
            margin-top: 81px;
            margin-bottom: 121px;
            @extend %remove-ul;
            @include lg-screens {
                margin-top: 10px;
                margin-bottom: 20px;
                
            }
        }
        .footer-links, .footer-subscribe, .footer-instagram {
            margin-top: 42px;
            @include lg-screens {
                margin-top: 0;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 14px;
                font-weight: bold;
                color:$default-white;
                margin-bottom: 20px;
                @include lg-screens {
                    margin-bottom: 10px;
                }
            }
        }
        .footer-links {
            @extend %remove-ul;
        }
        .footer-subscribe {
            .form-input {
                outline: none;
                padding: 7px  7px 10px;
                margin-bottom: 10px;
                width: calc(100% - 35px);
                background: rgb(197,197,197);
                border: 0;
                color: $default-white;
            }
            .form-input::-webkit-input-placeholder {
                background:rgb(197,197,197);
                color: $default-white;
            }
            .form-input:-ms-input-placeholder {
                background:rgb(197,197,197);
                color: $default-white;
            }
            .form-input::-ms-input-placeholder {
                background:rgb(197,197,197);
                color: $default-white;
            }
            .form-input::placeholder {
                background:rgb(197,197,197);
                color: $default-white;
            }
            .submit {
                padding: 7px 30px;
                background: $default-white;
                display: block;
                border: 0;
                font-size: 12px;
                color: $br-bottom;
                font-weight: bold;
                @include lg-screens {
                    width: calc(100% - 35px);
                }
            }
        }
        .footer-instagram {
            width: 70%;
            min-width: 208px;
            @include lg-screens {
                width: 25%;
                margin: 0 auto;
            }
            ul {
                @include flex;
                margin: 0;
                padding: 0;
                list-style-type: none;
                @include flex-wrap;
                li {
                    width: 33%;
                    overflow: hidden;
                    @include flex-grow(1);
                    
                    a {
                        display: block;
                        width: 60px;
                        height: 60px;
                        margin-bottom: 10px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        
                    }
                }
            }
        }
        .ds-logo {
            color: $default-white;
            @include flex;
            width: 100%;
            @include justify-content-center;
            @include flex-align-center;
        }
    }
}


%remove-ul {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}