@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";



.top-content {
    margin-top: 15px;
    @include flex;
    @include space-between;
    max-width: 1340px;
    @include center;
    @include sm-screens {
        margin-top: 0;
    }
    header {
        width: 100%;
        .header-middle {
            display: none;
        }
    }
    .header.sm {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 50;
        top: 0;
        -webkit-box-shadow: 0 1px 5px rgba(28,28,28,0.35);
        box-shadow: 0 1px 5px rgba(28,28,28,0.35);
        padding: 15px;
        background: $default-white;
        @include transition-full(all 0.5s);
        // ========= BURGER IN HEADER.SM ==========
        .header-inner {
            max-width: 1340px;
        }
        .header-middle {
            display: block;
            @include lg-screens {
                display: none;
            }
            .middle-content {
                margin: 0 auto;
                @include flex;
                width: 100%;
                ul {
                    @include flex;
                    list-style-type: none;
                    padding: 0;
                    width: 100%;
                    @include space-between;
                    
                    li {
                        a {
                            color: $title-black;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-size: 16px;
                        }
                    }
                    li.active {
                        a {
                            border-bottom: 2px solid $sky-blue;
                        }
                    }
                }
            }
        }
        .burger {
            display: none;
            width: 50px;
            height: 50px;
            position: fixed;
            top: 20px;
            left: 20px;
            border-radius: 4px;
            z-index: 10;
            @include sm-screens {
                top: auto;
                width: 40px;
                height: 40px;
                left: 5px;
            }
                span {
                    @include burger(30px, 3px, 6px, $gray); // gray
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -15px;
                    margin-top: -1.5px;
                }
                &.clicked {
                    span {
                        @include burger-to-cross;

                        &:before,
                        &:after {
                            background-color: $default-black;
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            @include lg-screens {
                display: block;
            }
        }

        // ========= BURGER IN HEADER.SM END ==========
        .btn-container {
            @include lg-screens {
                display: none;
            }
            .reserve-btn {
                background: none;
                color: $default-black;
                border: 3px solid $default-black;
                padding: 0;
                display: inline-block;
                a {
                    color: $default-black;
                    text-decoration: none;
                    // padding: 5px 20px;
                    display: block;
                }
            }
        }
        .logo-panel {
            margin-top: 0;
            svg {
                width: 40%;
                height: auto;
                margin-bottom: 38px;
                @include lg-screens {
                    margin-bottom: 0;
                }
                @include md-screens {
                    width: 50%;
                    margin-bottom:0px;
                }
                @include sm-screens {
                    width: 100% !important;
                }
                
                filter: brightness(100%); 
            }
        }
        .right-panel {
            color: $default-black;
            .adress { 
                @include lg-screens {
                    display: none;
                }
                li {
                    &:nth-child(1){
                        &:before {
                           @extend %before-fontawesome;
                            content: "\f041";
                        }
                    }
                    &:nth-child(2){
                        &:before {
                            @extend %before-fontawesome;
                            content: "\f095";
                        }
                    }
                    
                }
            }
            #lang-menu {
                border:1px solid rgba(255,255,255,0);
                @include lg-screens {
                    display: none;
                }
                ul {
                    li { 
                        a {
                            color: $default-black;
                        }
                    }
                }
            }
        }
        
    }
    // ========= BURGER ==========
     .burger {
         display: none;
         width: 50px;
         height: 50px;
         position: fixed;
         top: 20px;
         left: 20px;
         border-radius: 4px;
         z-index: 10;
        @include sm-screens {
            // left: 5px;
            width: 40px;
            height: 40px;
            
        }
         span {
             @include burger(30px, 3px, 6px, $default-white); // gray
             position: absolute;
             top: 50%;
             left: 50%;
             margin-left: -15px;
             margin-top: -1.5px;
         }

         &.clicked {
             span {
                 @include burger-to-cross;
                 &:before,
                 &:after {
                     background-color: $default-black;
                 }
             }
         }

         &:hover {
             cursor: pointer;
         }

         @include lg-screens {
             display: block;
         }
     }
    // ========= BURGER END ==========
    .btn-container {
        @include lg-screens {
            display: none;
        }
        .reserve-btn {
            background: none;
            color: $default-white;
            border: 3px solid $default-white;
            padding:0;
            display: inline-block;
            a {
                color: $default-white; //
                text-decoration: none;
                display: block;
                //padding: 5px 20px;
            }
        }
    }
    .right-panel {
        color: $default-white;
        @extend %palatino;
        @include flex-end;
        @include flex;
        .adress {
            list-style-type: none;
            padding: 0;
            position: relative;
            margin-right: 10px;
            @include lg-screens {
                display: none;
            }
            li {
                position: relative;
                padding-left: 20px;
                padding-bottom: 5px;
                &:nth-child(1){
                    &:before {
                       @extend %before-fontawesome;
                        content: "\f041";
                        
                    }
                }
                &:nth-child(2){
                    &:before {
                        @extend %before-fontawesome;
                        content: "\f095";
                    }
                }
                
            }
        }
        #lang-menu {
            border:1px solid rgba(255,255,255,0);
            @include lg-screens {
                display: none;
            }
            div {
                text-align:center;
                border-bottom:1px solid rgba(255,255,255,0);
                cursor: pointer;
            }
            ul {
                list-style:none;
                margin:0px;
                padding:0px;
                display:none;
                li {
                    padding:6px 0px;
                    transition:all .3s ease;
                    -webkit-transition:all .3s ease;
                    -moz-transition:all .3s ease;
                    -o-transition:all .3s ease;
                    a {
                        color: $default-white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .logo-panel {
        margin-top: 5vh;
        text-align: center;
        @include md-screens {
            margin-top: 3vh;
            
        }
        svg {
            width: 70%;
            height: auto;
            @include lg-screens {
                filter: brightness(500%);
            }
            @include sm-screens {
                width: 100%;
            } 
            #group-3 {
                path {
                    fill:$default-white;
                }
            }
        }
    }
}