#test-popup {
    #desktop-form {
        @include md-screens {
            display: none;
        }
        .date {
            @include flex;
            @include space-evenly;
            .input-group {
                @include flex;
                @include space-between;
                width: 90%;
                margin: 0 auto;
                
                label {
                    width: 100%;
                    font-weight: bold;
                    color: $title-black;
                }
            }
            .datetimepicker-input {
                background: none;
                color: $gray;
                border-right: none;
                outline: none;
                border-top: 2px solid $sky-blue;
                border-bottom: 2px solid $sky-blue;
                border-left: 2px solid $sky-blue;

                border-radius: 0;
                

                @include lg-screens {
                    padding: 10px 0 10px 20px;
                }

                @include sm-screens {
                    width: calc(100vw - 99px);
                    margin-left: auto;
                }
            }
            .input-group-text {
                background: none;
                border-left: none;
                color: $grey;
                border-radius: 0;
                border-top: 2px solid $sky-blue;
                border-right: 2px solid $sky-blue;
                border-bottom: 2px solid $sky-blue;
            }
        }
        .count {
            @include flex;
            @include space-around;
            margin:  0 auto;
            width: 100%;
            .form-group {
                @include flex-column;
                @include flex;
                label {
                    font-weight: bold;
                    color: $title-black;
                }
                select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        padding: .375rem .75rem;
                        outline: none;
                        color: $gray;
                        border: 2px solid $sky-blue;
                        /* Some browsers will not display the caret when using calc, so we put the fallback first */
                        background: url("../assets/img/icons/Shape copy 2.png") transparent no-repeat 98.5% !important;
                        /* !important used for overriding all other customisations */
                        background: url("../assets/img/icons/Shape copy 2.png") transparent no-repeat calc(100% - 10px) !important;
                        /* Better placement regardless of input width */
                }
            }
            div {
                &:nth-child(1) {
                    width: 43%;
                }
                &:nth-child(2) {
                    width: 46%;
                }
            }
        }
        .contact {
            @include flex;
            @include space-around;
            margin-bottom: 50px;
            .form-group {
                @include flex;
                @include flex-column;
                label {
                    font-weight: bold;
                    color: $title-black;
                }
                input {
                    border:2px solid $sky-blue;
                    padding: .375rem .75rem;
                }
            }
            .email-form {
                width: 43%;
                margin-bottom: 0;
            }
            .phone-form {
                width: 45.5%;
                margin-right: 5px;
                margin-bottom: 0;
            }
        }
        .submit-popup {
            background: $sky-blue;
            color: $default-white;
            display: block;
            width: 94%;
            @include center;
            border:none;
            padding: 21px 0;
            outline: none;
        }
    }
    #mobile-form {
        display: none;
        @include md-screens {
            display: block;
        }
        .date {
            .form-group {
                margin-bottom: 5px;
            }
            .input-group {
                @include flex;
                @include space-between;
                width: 90%;
                margin: 0 auto;
                @include md-screens {
                    width: 100%;
                }
                @include sm-screens {
                    width: 100%;
                }
                label {
                    width: 100%;
                    font-weight: bold;
                    color: $title-black;
                }
                @include xs-screens {
                    width: -webkit-fill-available;
                }
            }
            .datetimepicker-input {
                background: none;
                color: $gray;
                border-right: none;
                outline: none;
                border-top: 2px solid $sky-blue;
                border-bottom: 2px solid $sky-blue;
                border-left: 2px solid $sky-blue;

                border-radius: 0;
                

                @include md-screens {
                    padding: 5px 0 5px 20px;
                }
                
                @include sm-screens {
                    width: auto;
                    margin-left: auto;
                }
            }
            .input-group-text {
                background: none;
                border-left: none;
                color: $grey;
                border-radius: 0;
                border-top: 2px solid $sky-blue;
                border-right: 2px solid $sky-blue;
                border-bottom: 2px solid $sky-blue;
            }
        }
        .count {
            @include flex;
            @include flex-column;
            margin:  0 auto;
            width: 100%;
            .form-group {
                @include flex-column;
                @include flex;
                margin-bottom: 5px;
                label {
                    font-weight: bold;
                    color: $title-black;
                }
                select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        padding: .375rem .75rem;
                        outline: none;
                        color: $gray;
                        border: 2px solid $sky-blue;
                        /* Some browsers will not display the caret when using calc, so we put the fallback first */
                        background: url("../assets/img/icons/Shape copy 2.png") transparent no-repeat 98.5% !important;
                        /* !important used for overriding all other customisations */
                        background: url("../assets/img/icons/Shape copy 2.png") transparent no-repeat calc(100% - 10px) !important;
                        /* Better placement regardless of input width */
                }
            }
            div {
                width: calc(100% - 51px);
                margin: 0 auto;
                @include md-screens {
                    width: 100%;
                }
                @include sm-screens {
                    width: 100%;
                }
                @include xs-screens {
                    width: -webkit-fill-available;
                }
            }
        }
        .contact {
            @include flex;
            @include space-around;
            @include flex-column;
            margin-bottom: 25px;
            .form-group {
                @include flex;
                @include flex-column;
                width: calc(100% - 51px);
                margin: 0 auto;
                margin-bottom: 5px;
                @include md-screens {
                    width: 100%;
                }
                @include sm-screens {
                    width: 100%;
                }
                @include xs-screens {
                    width: -webkit-fill-available;
                }
                label {
                    font-weight: bold;
                    color: $title-black;
                }
                input {
                    border:2px solid $sky-blue;
                    padding: .375rem .75rem;
                }
            }
            
        }
        .submit-popup {
            background: $sky-blue;
            color: $default-white;
            display: block;
            width: 90%;
            @include center;
            border:none;
            padding: 21px 0;
            outline: none;
            @include md-screens {
                width: 100%;
            }
            @include sm-screens {
                width: 100%;
            }
            @include xs-screens {
                padding: 10px 0;
                width: 100%;
            }
        }
    }
}
.white-popup {
    position: relative;
    background: $default-white;
    padding: 60px;
    width: auto;
    max-width: 640px;
    margin: 0 auto;
    @include md-screens {
        padding: 25px;
    }
    @include sm-screens {
        position: fixed;
        top: 5vh;
        left: 0;
        right: 0;
    }
    @include xs-screens {
        top: 0vh;
        padding: 37px;
    }
}