$black: #000000;
$white: #ffffff;
$gray: #2a2a2a;
$gold: #b7ac7f;

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
/*========= STANDARD STYLES ============*/
html, body  {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    @extend %palatino;
    font-size: 14px !important;
    overflow-x: hidden;
    .wrapper {
        @include center;
        position: relative;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 70px);
        .owl-carousel {
            position: relative;
            height: 100vh;
            @include sm-screens {
                height: 50vh;
            }
            div:not(.owl-controls) {
                height: 100%;
            }
            
            .owl-slide {
                background-repeat: no-repeat;
                background-size: cover;
            }
            .owl-nav {
                height: 0 !important;
                .owl-prev {
                    @extend %owl-btn;
                    left: 15px;
                    svg {
                        width: 17px;
                    }
                }
                .owl-next {
                    @extend %owl-btn;
                    right: 15px;
                    
                }
            }
        }
        .main-content {
            top: 0;
            z-index: 10;
            @extend %main-content;
            position: absolute;
            
            .top-content {
                margin-top: 15px;
                @include flex;
                @include space-between;
                max-width: 1340px;
                @include center;
                @include sm-screens {
                    margin-top: 0;
                }
                header {
                    width: 100%;
                    .header-middle {
                        display: none;
                    }
                }
                .header.sm {
                    position: fixed;
                    width: 100%;
                    left: 0;
                    right: 0;
                    z-index: 50;
                    top: 0;
                    -webkit-box-shadow: 0 1px 5px rgba(28,28,28,0.35);
                    box-shadow: 0 1px 5px rgba(28,28,28,0.35);
                    padding: 15px;
                    background: $default-white;
                    @include transition-full(all 0.5s);
                    // ========= BURGER IN HEADER.SM ==========
                    .header-inner {
                        max-width: 1340px;
                    }
                    .header-middle {
                        display: block;
                        @include lg-screens {
                            display: none;
                        }
                        .middle-content {
                            margin: 0 auto;
                            @include flex;
                            width: 100%;
                            ul {
                                @include flex;
                                list-style-type: none;
                                padding: 0;
                                width: 100%;
                                @include space-between;
                                
                                li {
                                    a {
                                        color: $title-black;
                                        text-transform: uppercase;
                                        text-decoration: none;
                                        font-size: 16px;
                                    }
                                }
                                li.active {
                                    a {
                                        border-bottom: 2px solid $sky-blue;
                                    }
                                }
                            }
                        }
                    }
                    .burger {
                        display: none;
                        width: 50px;
                        height: 50px;
                        position: fixed;
                        top: 20px;
                        left: 20px;
                        border-radius: 4px;
                        z-index: 10;
                        @include sm-screens {
                            top: auto;
                            width: 40px;
                            height: 40px;
                            // left: 5px;
                        }
                            span {
                                @include burger(30px, 3px, 6px, $gray); // gray
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -15px;
                                margin-top: -1.5px;
                            }
                            &.clicked {
                                span {
                                    @include burger-to-cross;

                                    &:before,
                                    &:after {
                                        background-color: $default-black;
                                    }
                                }
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        @include lg-screens {
                            display: block;
                        }
                    }

                    // ========= BURGER IN HEADER.SM END ==========
                    .btn-container {
                        @include lg-screens {
                            display: none;
                        }
                        .reserve-btn {
                            background: none;
                            color: $default-black;
                            border: 3px solid $default-black;
                            padding: 0;
                            display: inline-block;
                            a {
                                color: $default-black;
                                text-decoration: none;
                                padding: 5px 20px;
                                display: block;
                            }
                        }
                    }
                    .logo-panel {
                        margin-top: 0;
                        svg {
                            width: 40%;
                            height: auto;
                            margin-bottom: 38px;
                            @include lg-screens {
                                margin-bottom: 0;
                            }
                            @include md-screens {
                                width: 50%;
                                margin-bottom:0px;
                            }
                            @include sm-screens {
                                width: 100%;
                            }
                            filter: brightness(100%); 
                        }
                    }
                    .right-panel {
                        color: $default-black;
                        .adress { 
                            @include lg-screens {
                                display: none;
                            }
                            li {
                                &:nth-child(1){
                                    &:before {
                                       @extend %before-fontawesome;
                                        content: "\f041";
                                    }
                                }
                                &:nth-child(2){
                                    &:before {
                                        @extend %before-fontawesome;
                                        content: "\f095";
                                    }
                                }
                                
                            }
                        }
                        #lang-menu {
                            border:1px solid rgba(255,255,255,0);
                            @include lg-screens {
                                display: none;
                            }
                            ul {
                                li { 
                                    a {
                                        color: $default-black;
                                    }
                                }
                            }
                        }
                    }
                    
                }
                // ========= BURGER ==========
                 .burger {
                     display: none;
                     width: 50px;
                     height: 50px;
                     position: fixed;
                     top: 20px;
                     left: 20px;
                     border-radius: 4px;
                     z-index: 10;
                    @include sm-screens {
                        // left: 5px;
                        width: 40px;
                        height: 40px;
                        
                    }
                     span {
                         @include burger(30px, 3px, 6px, $default-white); // gray
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         margin-left: -15px;
                         margin-top: -1.5px;
                     }

                     &.clicked {
                         span {
                             @include burger-to-cross;
                             &:before,
                             &:after {
                                 background-color: $default-black;
                             }
                         }
                     }

                     &:hover {
                         cursor: pointer;
                     }

                     @include lg-screens {
                         display: block;
                     }
                 }
                // ========= BURGER END ==========
                .btn-container {
                    @include lg-screens {
                        display: none;
                    }
                    .reserve-btn {
                        background: none;
                        color: $default-white;
                        border: 3px solid $default-white;
                        padding:0;
                        display: inline-block;
                        a {
                            color: $default-white;
                            text-decoration: none;
                            display: block;
                            padding: 5px 20px;
                        }
                    }
                }
                .right-panel {
                    color: $default-white;
                    @extend %palatino;
                    @include flex-end;
                    @include flex;
                    .adress {
                        list-style-type: none;
                        padding: 0;
                        position: relative;
                        margin-right: 10px;
                        @include lg-screens {
                            display: none;
                        }
                        li {
                            position: relative;
                            padding-left: 20px;
                            padding-bottom: 5px;
                            &:nth-child(1){
                                &:before {
                                   @extend %before-fontawesome;
                                    content: "\f041";
                                    
                                }
                            }
                            &:nth-child(2){
                                &:before {
                                    @extend %before-fontawesome;
                                    content: "\f095";
                                }
                            }
                            
                        }
                    }
                    #lang-menu {
                        border:1px solid rgba(255,255,255,0);
                        @include lg-screens {
                            display: none;
                        }
                        div {
                            text-align:center;
                            border-bottom:1px solid rgba(255,255,255,0);
                            cursor: pointer;
                        }
                        ul {
                            list-style:none;
                            margin:0px;
                            padding:0px;
                            display:none;
                            li {
                                padding:6px 0px;
                                transition:all .3s ease;
                                -webkit-transition:all .3s ease;
                                -moz-transition:all .3s ease;
                                -o-transition:all .3s ease;
                                a {
                                    color: $default-white;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }

                .logo-panel {
                    margin-top: 5vh;
                    text-align: center;
                    @include md-screens {
                        margin-top: 3vh;
                        
                    }
                    svg {
                        width: 70%;
                        height: auto;
                        @include lg-screens {
                            filter: brightness(500%);
                        }
                        @include sm-screens {
                            width: 100%;
                        } 
                        #group-3 {
                            path {
                                fill:$default-white;
                            }
                        }
                    }
                }
            }
            .middle-content {
                margin-top: 10vh;
                @include lg-screens {
                    display: none;
                }
                .container {
                    ul {
                        @include flex;
                        @include space-between;
                        padding: 0;
                        list-style-type: none;
                        li {
                            a {
                                text-decoration: none;
                                color: $default-white;
                                font-size: 16px;
                                text-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
             /* ================== NAV ======================== */
            nav {
                display: none;
                background-color: $default-white;
                position: fixed;
                z-index: 9;
                top: 0;
                left: 0;
                height: 100%;
                max-width: 515px;
                width: 100%;
                padding: 100px 40px 60px 40px;
                overflow-y: auto;
                @include transform(translateX(-100%));
                @include transition(transform .55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
                @include lg-screens {
                    display: block;
                }
                #lang-menu-nav {
                    ul {
                        @include flex;
                        list-style-type: none;
                        li {
                            margin-right: 5vw;
                            a {
                                text-decoration: none;
                                color: $title-black;
                            }
                        }
                    }
                } 
                &.show {
                    @include transform(translateX(0px));
                    
                    ul.main {
                        li {
                            @include transform(translateX(0px));
                            opacity: 1;

                            @for $i from 1 to 10 {
                                &:nth-child(#{$i}) {
                                    transition-delay: $i * 0.15s;
                                }
                            }
                        }
                    }

                    .about,
                    .social,
                    ul.sub {
                        @include transform(translateY(0px));
                        opacity: 1;
                        transition-delay: .85s;
                    }
                }

                @media (min-width: 667px) {
                    padding: 120px 90px 70px 90px;
                }

                ul.main {
                    list-style-type: none;

                    li {
                        @include transform(translateX(-40px));
                        opacity: 0;
                        @include transition(all .3s ease);

                        &:last-of-type {
                            margin-bottom: 0px;
                        }

                        a {
                            color: $title-black;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 14px;
                            display: block;
                            letter-spacing: 5px;
                            font-weight: 600;
                            margin: 10px 0;
                            @include transition(all .3s ease);

                            span {
                                color: $gold;
                            }

                            &:hover {
                                color: $gold;
                            }
                        }
                    }
                }

                .about {
                    margin-top: 40px;
                    @include transform(translateY(30px));
                    opacity: 0;
                    @include transition(all .4s ease);

                    p {
                        color: $white;
                        font-size: 1.05rem;
                        letter-spacing: 0.5px;
                        line-height: 170%;
                    }
                }

                .social {
                    margin-top: 40px;
                    position: relative;
                    padding-bottom: 30px;
                    @include transform(translateY(30px));
                    opacity: 0;
                    @include transition(all .4s ease);

                    &:after {
                        content: "";
                        width: 230px;
                        height: 2px;
                        background-color: $gold;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }

                    a {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin-right: 25px;

                        &:last-of-type {
                            margin-right: 0px;
                        }

                        &:hover {
                            svg {

                                path,
                                circle {
                                    fill: $gold;
                                }
                            }
                        }

                        svg {
                            width: 100%;
                            height: 100%;

                            path,
                            circle {
                                fill: $white;
                                @include transition(all .3s ease);
                            }
                        }
                    }
                }

                ul.sub {
                    list-style-type: none;
                    margin-top: 40px;
                    @include transform(translateY(30px));
                    opacity: 0;
                    @include transition(all .4s ease);

                    li {
                        margin-bottom: 10px;

                        &:last-of-type {
                            margin-bottom: 0px;
                        }

                        a {
                            color: $white;
                            letter-spacing: 1px;
                            font-size: 0.9rem;
                            text-decoration: none;
                            @include transition(all .3s ease);

                            &:hover {
                                color: $gold;
                            }
                        }
                    }
                }
            }
             /* ================== NAV END ======================== */


            /* ================== OVERLAY  ======================== */
            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                @include transition(all 0.3s ease-in-out);
                background-color: $sky-blue;
                opacity: 0;
                visibility: hidden;
                display: none;
                @include lg-screens {
                    display: block;
                }
                &.show {
                    opacity: 0.8;
                    visibility: visible;
                }
            }
            /* ================== OVERLAY END ======================== */
        }
        .bottom-content {
            top: calc(100vh - 106px);
            @extend %main-content;
            z-index: 4;
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            // @include lg-screens {
            //     top: calc(100vh - 204px);
            // }
            @media only screen and(max-width:991px) {
                top: calc(100vh - 209px);
            }
            @include sm-screens {
                position:static;
            }
            .booking-form {
                form {
                    @include flex;
                    @include space-between;
                    @include flex-wrap;
                    @include lg-screens {
                        @include space-around;
                    }
                    @include sm-screens {
                        @include flex-column;
                        @include justify-content-center;
                    }
                    #main-submit {
                        a {
                            text-decoration: none;
                        }
                    }
                    .form-group {
                        margin-bottom: 0;
                        .input-group {
                            margin: 30px 0;
                            @include sm-screens {
                                -ms-flex-wrap:nowrap;
                                    flex-wrap:nowrap;
                            }
                            .datetimepicker-input {
                                background: none;
                                color: $default-white;
                                border-right: none;
                                outline: none;
                                border-top: 1px solid $grey-white;
                                border-bottom: 1px solid $grey-white;
                                border-left:  1px solid $grey-white;;
                                border-radius: 0;
                                padding: 10px 0 10px 15px;
                                @include lg-screens {
                                    padding: 10px 0 10px 20px;
                                }
                                @include sm-screens {
                                    width: calc(100vw - 99px);
                                    margin-left: auto;
                                }
                            }
                            .form-control {
                                outline:none !important;
                            }
                            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: $default-white;
                                opacity: 1; /* Firefox */
                            }
                            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: $default-white;
                            }
                            ::-ms-input-placeholder { /* Microsoft Edge */
                                color: $default-white;
                            }
                            .input-group-text {
                                background: none;
                                border-left: none;
                                color: $default-white;
                                border-radius: 0;
                            }
                        }
                    }
                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        padding: 10px 90px 10px 10px;
                        margin: 30px 0;
                        outline: none;
                        color: $default-white;
                        border: 1px solid $default-white;
                        /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
                        
                        background: url("../assets/img/icons/slider-arrow-left.png") transparent no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
                        @include sm-screens {
                            width: 100%;
                            @include center;
                        }
                        option {
                            color: $default-black;
                        }
                    }
                    .submit {
                        background: rgba(204,204,204, 0.6);
                        padding: 12px 25px;
                        color: $default-white;
                        margin: 30px 0;
                        border: none;
                        outline: none;
                        @include sm-screens {
                            width: 100%;
                        }
                    }
                }
            }
        }
        
    }
}

.input-group [data-toggle="datetimepicker"] {
    @include sm-screens {
        margin-right: auto;
    }
}

%main-content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @include center;
    @include sm-screens {
        padding: 0;
    }
} 

%owl-btn {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 70vh;
    outline: none;
    @include lg-screens {
        top: 60vh;
    }
    @include sm-screens {
        top: 30vh;
    }
    svg {
        width: 17px;
        opacity: 0.6;
    }
}
%before-fontawesome {
    position: absolute;
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    left: 0;
}








