

.news {
    width: 100%;
    height: 100%;
    h1 {
        text-align: center;
        position: relative;
        width: 100%;
    }
    .shape {
        @include center;
        display: block;
        margin-bottom: 60px;
    }
    #news-card {
        height: 100%;
        .owl-dots , .owl-item , .owl-stage-outer , .owl-stage{
            height: auto;
        }
        .owl-dots {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 60px;
            .owl-dot {
                outline: none;
                
                span {
                    @include transition-full(all 0.5s ease-in-out);
                    background: none repeat scroll 0 0 #869791;
                    border-radius: 4.2px;
                    display: block;
                    height: 4px;
                    margin: 5px 7px;
                    opacity: 0.5;
                    width: 14.1px;
                    outline: none;
                }
            }
            .active {
                span {
                    @include transition-full(all 0.5s ease-in-out);
                    background: none repeat scroll 0 0 $br-bottom;
                    border-radius: 4.2px;
                    display: block;
                    height: 4px;
                    margin: 5px 7px;
                    opacity: 1;
                    width: 28.1px;
                    outline: none;
                }
            }
        }
        .card-container {
            height: auto;
            @media only screen and(max-width:991px){
                padding: 1.5rem;
            }
            .card {
                border: 1px solid $default-white;
                height: auto;
                @include transition-full(border 0.5s ease-in-out);
                .select-news {
                    display: block;
                    height: 260px;
                    overflow: hidden;
                }
                &:hover {
                    border: 1px solid $sky-blue;
                    background-color: $light-blue;
                }
                .card-body {
                    @include sm-screens {
                        padding-left: 0;
                    }
                    .card-title {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 18px;
                        color: $title-black;
                        margin-bottom: 22px;
                    }
                    h6 {
                        text-transform: uppercase;
                        font-size: 14px;
                        color: $title-black;
                        strong {
                            margin-right: 5px;
                        }
                    }
                    ul {
                        margin-bottom: 33px;   
                    }
                    .anchor-container {
                        @include flex;
                        @include space-between;
                        @include flex-wrap;
                        a {
                            text-decoration: none;
                            color: $title-black;
                            text-transform: uppercase;
                            
                        }
                        a.active {
                            border-bottom: 1px $br-bottom solid;
                        }
                    }
                    a {
                        text-decoration: none;
                        font-size: 15px;
                        color: #08122c;
                    } 
                }
            }
        }
    }
    
}