.popup {
	background: rgba(100, 100, 100, 0.6);
	position: fixed;
	display: none;
	z-index: 5000;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;

	> div {
		border-radius: 10px;
		position: fixed;
		background: #FFFFFF;
		box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
		padding: 30px 15px;
		/* Width of popup can be changed */
		width: 70%;
		max-width: 600px;
		z-index: 5001;
		@include transform(translate(-50%, -50%));
  		left: 50%;
	   top: 50%;
		text-align: center;
		border: 5px solid #9AD3DE;
	}
}