$padding-base: 15px;
$color-body: #fff;
$color-border: #ddd;
$color-link: #0275d8;
$border-radius: .25rem;
#fos {  
	@include xl-screens {
			padding-top: 10px;
			height: 55px;
			overflow: hidden;
		}
		@include md-screens {
			height: auto;
			padding-top: 0;
	}
}
.tab-menu {
	@include flex;
	@include lg-screens {
		@include flex-column;
	}
	.nav {
		padding-left: 0px !important;
		// @include sm-screens {
		// 	padding-left: 10px !important;
		// }
	}
}
#vertical-tab {
	border-bottom: 0px;
}
.nav-tabs {
	.nav-link {
		border-radius: 0px !important;
	}
	.nav-item {
		margin-bottom: 20px !important;
		@include xl-screens {
			margin-bottom: 15px !important;
		}
	}
	&--vertical {
		border-bottom: none;
		// border-right: 1px solid $color-border;
		@include flex;
		-webkit-box-orient: vertical;
       -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;	
	}
	&--left {
		// margin: 0 $padding-base;
		.nav-item + .nav-item {
			// margin-top: .25rem;
		}
		.nav-item {
			background-color: #f7f7f7;
			margin-bottom: 20px;
		}
		.nav-link {
			transition: border-color .125s ease-in;
			// white-space: nowrap;
			border-radius: 0;
			.icon-holder {
				position: absolute;
				display: block;
				line-height: 6;
			}
			.tab-title , .tab-text{
				padding-left: 70px;
				display: block;
			}
			
			.tab-title {
				text-transform: uppercase;
				font-size:18px;
				font-weight: bold;
			}
			&:hover {
				background-color: lighten($color-border, 10%);
				border-color: transparent;
			}
		}
		.nav-link.active {
			box-shadow: 0 2px 20px 0 rgba(173, 173, 173, 0.5);
			box-shadow: 0 2px 20px 0 var(--brown-grey-50);
			background-color: #f7f7f7 !important;
			border: solid 1px #344d8e;
			border-color: $sky-blue !important;
			.icon-holder {
				position: absolute;
				display: block;
				line-height: 6;
			}
			.tab-title,
			.tab-text {
				padding-left: 70px;
				display: block;
			}
			.tab-title {
				text-transform: uppercase;
				
			}
		}
	}
}
.tab-content {
	.tab-pane {
		    height: 487px;
			overflow: hidden;
			@include xl-screens {
				height: 445px;
			}
			@include sm-screens {
				height: 359px;
			}
		img {
			width: 100% !important;
		}
	}
}