@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";
@import "../index/magnificent.scss";

section {
    border-bottom: 2px solid $brd-btm-clr; 
    @include xl-screens {
        padding: 30px;
    }
    @include md-screens {
        padding: 35px;
    }
    @include sm-screens {
        padding: 10px;
        padding-bottom: 5px;
    }
}
section {
    .container {
        @media only screen and(max-width:992px) {
            max-width: 100%;
        }
    }
}
body .wrapper .owl-carousel {
    position: relative;
    height: 100% !important;
}
.reserve-btn {
    background: $sky-blue;
    border: 3px solid $sky-blue;
    padding: 0 !important;
    display: inline-block;
    a {
        color: $default-white;
        text-decoration: none;
        display: block;
        padding: 5px 20px;
    }
}

.wrapper {
    section {
        &:last-of-type {
            margin-bottom: 200px;
            @include md-screens {
                margin-bottom: 0px;
            }
        }
    }
}

// MAIN STYLES

#overview {
    margin-top: 15rem;
    @include lg-screens {
        margin-top: 6rem;
    }
    .room-title {
        @extend %title;
        font-size: 14px;
        margin-bottom: 24px;
        @include sm-screens {
            font-size: 12px;
        }
    }
    .room-overview {
        @include flex;
        @include space-between;
        width: 100%;
        @include md-screens {
            @include flex-column;
        }
        .room-main-text {
            @extend %title;
            font-size: 26px;
            width: calc(50% - 20px);
            font-weight: bold;
            @include md-screens {
                width: 100%;
            }
            @include sm-screens {
                font-size: 16px; 
            }
        }
        .overview {
            width: calc(50% - 20px);
            font-size: 16px;
            color: $title-black;
            @include md-screens {
                width: 100%;
            }
            p {
                @include sm-screens {
                    font-size: 14px;
                }
            }
        }
    }
    
}
%title {
    text-transform: uppercase;
    color: $title-black;
}

.rooms {
    padding: 15px;
    margin-top: 60px;
    @include center;
    #clients {
        margin-bottom: 60px;
        width: 80%;
        @include center;
        @include lg-screens {
            width: 100%;
        }
        @include sm-screens {
            margin-bottom: 15px;
        }
        .rect {
            .prev-container {
                height: 549px;
                overflow: hidden;
                @include lg-screens {
                    height: auto;
                }
            }
        }
        .owl-dots {
            height: 0;
        }
        .room-news {
            margin-top: 40px;
            .news-title {
                font-size: 18px;
                font-weight: bold;
                color: $title-black;
                text-transform: uppercase;
            }
            .date-time {
                font-size: 12px;
                font-style: italic;
                letter-spacing: 0.5px;
                margin-bottom: 25px;
                svg {
                    width: 12px;
                }
            }
            .txt-container {
                margin-bottom: 40px;
            }
            .navigation {
                @include flex;
                @include space-between;
                a {
                    text-decoration: none;
                    color: $title-black;
                    font-size: 12px;
                }
            }
        }
    }
}
body .wrapper .owl-carousel .owl-nav .owl-next, 
body .wrapper .owl-carousel .owl-nav .owl-prev {
    top: 50% !important;
}