@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";
@import "../index/magnificent.scss";

section {
    border-bottom: 2px solid $brd-btm-clr; 
    @include xl-screens {
        padding: 20px;
    }
    @include sm-screens {
        padding: 25px;
        padding-bottom: 5px;
    }
}

section {
    .container {
        @media only screen and(max-width:992px) {
            max-width: 97.5%;
        }
    }
}

.overview {
    margin-top: 15rem;
    margin-bottom: 40px;
    @media only screen and(max-width:992px) {
        margin-top: 6rem; 
    }
    @include md-screens {
        margin-top: 0rem;
    }  
    .slider-info-bar {
        @media only screen and(max-width:991px) {
            display: none;
        }
        h6 {
            font-size: 14px;
            margin-bottom: 30px;
        }
        h1 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 40px;
            font-size: 26px;
            text-transform: uppercase;
            width: 100%;
            
            
        }
        ul {
            list-style-type: none;
            font-size: 16px;
            padding: 0;
            text-transform: uppercase;
            li {
                margin-bottom: 30px;
                a {
                    text-decoration: none;
                    color: $title-black;
                }
            }
            li.active {
                a {
                    border-bottom: 1px solid $title-black;
                }
            }
        }
        .desktop-menu {
            display: block;
            @media only screen and(max-width:991px) {
               display: none; 
            } 
        }
        .mobile-menu {
            display: none;
            @media only screen and(max-width:991px) {
                display: block;
                width: 100%;
            } 
        }
    }
    #map {
        padding-left: 15px;
        @include lg-screens {
            padding-left: 0px;
        }
        #map_canvas {
            height: 400px;
            width: 100%;
            @include md-screens {
                height: 300px;
            }
            @include sm-screens {
                height: 214px;
            }
        }
        .owl-dots {
            height: 0;
        }

        
        .owl-carousel {
            height: auto;
            
        }
    }
}
.cont-padding{
    @include extra-xl-screens {
        padding-left: 1.5rem !important;
    }
}
.nav-padding {
    padding-right: 0px !important;
}
.review {
    margin-top: 40px;
    @include md-screens {
        margin-top: 0px;
    }
    
    .review-title {
        font-weight: bold;
        @extend %title;
    }
    .overlook {
        @extend %title;
    }
    .text-block {
        color: $title-black;
        font-size: 16px;
    }
    ul {
        font-size: 16px;
        color: $title-black;
        margin-bottom: 40px;
        list-style-type: decimal;
        @include md-screens {
            margin-bottom: 0px;
        }
    }
}
.reserve-btn {
    background: $sky-blue;
    border: 3px solid $sky-blue;
    padding: 0 !important;
    display: inline-block;
    a {
        color: $default-white;
        text-decoration: none;
        display: block;
        padding: 5px 20px;
    }
}
#mob {
    @include lg-screens {
        border-bottom: 0px;
    }
    .btn-container {
        @include lg-screens {
            display: block;
        }
        @include lg-screens {
            padding: 15px 30px 30px 30px;
            border-top: 1px solid $brd-btm-clr;
            
            .reserve-btn {
                background: $sky-blue;
                border: 3px solid $sky-blue;
                padding: 0;
                display: inline-block;
                width: 100%;
                a {
                    color: $default-white;
                    text-decoration: none;
                    padding: 10px;
                    text-align: center;
                    display: block;
                }
            }
        }  
    }
    display: none;
    @media only screen and(max-width:991px) {
        display: block;
        margin-top: 8rem;
        padding: 0;
    }
    @include sm-screens {
        margin-top: 6rem;
    }
    .slider-info-bar {
        // padding-left: 15px;
        h1 {
            border-bottom: 1px solid $brd-btm-clr;
            font-size: 12px;
            padding-left: 30px;
            padding-right: 30px;
            text-transform: uppercase;
            @include sm-screens {
                padding-bottom: 5px;
            }
        }
        
        select {
            margin-left: 30px;
            margin-right: 30px;
            font-size: 14px;
            border: 0;
            width: calc(100vw - 60px);
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            outline: none;
            text-transform: uppercase;
            background: url("../assets/img/icons/shape copy 2.png") transparent no-repeat calc(100% - 10px); /* Better placement regardless of input width */  
            option {
                width: 100%;
                font-size: 14px;
            }     
        }

        select::-ms-expand {
            display: none;
        }
    }
}
#content-block {
    margin-bottom: 200px;
    @include md-screens {
        margin-bottom: 0px;
    }
}

//For align arrows in slider
body .wrapper .owl-carousel .owl-nav .owl-next, 
body .wrapper .owl-carousel .owl-nav .owl-prev {
    top: 50% !important;
}
.wrapper {
    section {
        &:last-of-type {
            margin-bottom: 200px;
            @include md-screens {
                margin-bottom: 0px;
            }
        }
    }
}
%title {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}