@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";
@import "../index/magnificent.scss";

section {
    border-bottom: 2px solid $brd-btm-clr; 
    @include xl-screens {
        padding: 30px;
    }
    @include md-screens {
        padding: 35px;
    }
    @include sm-screens {
        padding: 10px;
        padding-bottom: 5px;
    }
}
section {
    .container {
        @media only screen and(max-width:992px) {
            max-width: 97.5%;
        }
    }
}
.reserve-btn {
    background: $sky-blue;
    border: 3px solid $sky-blue;
    padding: 0 !important;
    display: inline-block;
    a {
        color: $default-white;
        text-decoration: none;
        display: block;
        padding: 5px 20px;
    }
}

.wrapper {
    section {
        &:last-of-type {
            margin-bottom: 200px;
            @include md-screens {
                margin-bottom: 0px;
            }
        }
    }
}

// MAIN STYLES

#overview {
    margin-top: 15rem;
    @include lg-screens {
        margin-top: 6rem;
    }

    .room-title {
        @extend %title;
        font-size: 14px;
        margin-bottom: 24px;
        @include sm-screens {
            font-size: 12px;
        }
    }
    .room-overview {
        @include flex;
        @include space-between;
        width: 100%;
        @include md-screens {
            @include flex-column;
        }
        .room-main-text {
            @extend %title;
            font-size: 26px;
            width: calc(50% - 20px);
            font-weight: bold;
            @include md-screens {
                width: 100%;
            }
            @include sm-screens {
                font-size: 16px; 
            }
        }
        .overview {
            width: calc(50% - 20px);
            font-size: 16px;
            color: $title-black;
            @include md-screens {
                width: 100%;
            }
            p {
                @include sm-screens {
                    font-size: 14px;
                }
            }
        }
    }
    
}
%title {
    text-transform: uppercase;
    color: $title-black;
}

.rooms {
    padding: 15px;
    margin-top: 60px;

    @include center;
    .container-fluid {
        max-width: 1340px;
    }
    .card {
        border-color: $default-white;
        @include transition-full(border 0.5s ease-in-out);
        &:hover {
            border: 1px solid $sky-blue;
            background-color: $light-blue;
        }
        .card-title {
            font-weight: bold;
            @include sm-screens {
                font-size: 16px;
            }
        }
        .select-news {
            height: 253px;
            overflow: hidden;
            @include xl-screens {
                height: 208px;
            }
            @include md-screens {
                height: auto;
            }
        }
        .card-body {
            color: $title-black;
            @include sm-screens {
                padding-left: 0;
            }
            a {
                text-decoration: none;
                color: $title-black;
                @include sm-screens {
                    font-size: 14px;
                }
            }
            p {
                @include sm-screens {
                    font-size: 14px;
                }
            }
        }
    }
}