@import "../mixins.scss";
@import "../variables.scss";
@import "../fonts.scss";
@import "../index/magnificent.scss";

section {
    border-bottom: 2px solid $brd-btm-clr; 
    @include xl-screens {
        padding: 30px;
    }
    @include lg-screens {
        padding: 30px;
    }
    @include md-screens {
        padding: 29px;
    }
    @include sm-screens {
        padding: 10px;
        padding-bottom: 5px;
    }
}

section {
    .container {
        @media only screen and(max-width:992px) {
            max-width: 100%;
        }
    }
}
body .wrapper .owl-carousel {
    position: relative;
    height: 100% !important;
}

#mob {
    @include lg-screens {
        padding-bottom: 5px;
    }
    display: none;
    @media only screen and(max-width:991px) {
        display: block;
        padding: 0;
    }
    
    .slider-info-bar {
        // padding-left: 15px;
        h4 {
            font-size: 12px;
            padding-left: 30px;
            padding-right: 30px;
            font-style: italic;
            margin-top: 5px;
            @include sm-screens {
                padding-bottom: 5px;
            }
        }
        
        select {
            margin-left: 30px;
            margin-right: 30px;
            font-size: 14px;
            border: 0;
            width: calc(100vw - 60px);
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            outline: none;
            text-transform: uppercase;
            background: url("../assets/img/icons/shape copy 2.png") transparent no-repeat calc(100% - 10px); /* Better placement regardless of input width */ 
            @include lg-screens {
                width: calc(100vw - 80px);
            }      
        }

        select::-ms-expand {
            display: none;
        }
    }
}
.reserve-btn {
    background: $sky-blue;
    border: 3px solid $sky-blue;
    padding: 0 !important;
    display: inline-block;
    a {
        color: $default-white;
        text-decoration: none;
        display: block;
        padding: 5px 20px;
    }
}

.wrapper {
    section {
        &:last-of-type {
            margin-bottom: 200px;
            @include md-screens {
                margin-bottom: 0px;
            }
        }
    }
}

// MAIN STYLES

#overview {
    margin-top: 15rem;
    @include lg-screens {
        margin-top: 6rem;
    }
    
    .room-title {
        @extend %title;
        font-size: 14px;
        margin-bottom: 24px;
        @include sm-screens {
            font-size: 12px;
            margin-left: 5px;
        }
    }
    .room-overview {
        @include flex;
        @include space-between;
        width: 100%;
        @include flex-wrap;
        @include sm-screens {
            padding-right: 20px;
            margin-left: 5px;
        }
        .btn-container {
            margin-bottom: 40px;
            
            @include sm-screens {
                margin-bottom: 20px;
                text-align: center;
            }
            .reserve-btn {
                @include sm-screens {
                    width: 100%;
                }
                a {
                    color: $default-white;
                    text-decoration: none;
                }
            }
        }
        @include md-screens {
            @include flex-column;
        }
        .room-main-text {
            @extend %title;
            font-size: 26px;
            width: calc(50% - 20px);
            font-weight: bold;
            @include md-screens {
                width: 100%;
            }
            @include sm-screens {
                font-size: 16px; 
            }
        }
        .overview {
            width: calc(50% - 20px);
            font-size: 16px;
            color: $title-black;
            @include md-screens {
                width: 100%;
            }
            
            p {
                @include sm-screens {
                    font-size: 14px;
                }
            }
        }
    }
    
}
%title {
    text-transform: uppercase;
    color: $title-black;
}

.rooms {
    // padding: 15px;
    margin-top: 60px;
    @include center;
    border-bottom: 0;
    padding-right: 0;
    @include lg-screens {
        margin-top: 0;
    }
    @include sm-screens {
        width: calc(100vw - 40px);
    }
    .nav-tabs {
        border-color:$sky-blue;
        @include lg-screens {
            display: none;
        }
        .nav-link.active {
            border-color:$sky-blue $sky-blue $default-white;
        }
        .nav-link {
            &:hover {
                border-color: $sky-blue;
            }
            font-size: 20px;
            color:$title-black;
        }
    }
    .tab-container {
        @media only screen and(min-width:1200px) {
            max-width: calc(1140px + (100vw - 1140px)/2) !important;
        }
        @media only screen and(min-width:992px) {
            max-width: calc(970px + (100vw - 970px)/2);
        }
        margin-left: auto;
        padding-left: 7px;
        @include lg-screens {
            padding-left: 0;
        }
        .tab-content {
            @include md-screens {
                width: calc(100vw - 35px);
                
            }
            @include sm-screens {
                width: 100%;
            }
            .tab-pane {
                height: auto;
                margin-left: 0;
                @media only screen and(min-width:1200px) {
                    max-width: 1140px !important;
                }
                @media only screen and(min-width:992px) {
                    max-width: 940px;
                }
                @include lg-screens {
                    max-width: 95%;
                }
                @include sm-screens {
                    max-width: 97.5%;
                }
                
            }
            #home {
                .highlights {
                    border: solid 1px $sky-blue;
                    background-color: $light-blue;
                    padding: 40px  17px 20px;
                    @include flex;
                    @include flex-column;
                    @include space-between;
                    min-height: 507px;
                    @include lg-screens {
                        display: none;
                    }
                    .parent-title {
                        padding: 0;
                        list-style-type: none;
                        li {
                            h4 {
                                font-weight: bold;
                                color: $title-black;
                                
                            }
                        }
                        ul {
                            list-style-type: none;
                            padding-left: 20px;
                            li {
                                
                                &:before {
                                    content: "• ";
                                }
                            }
                        }
                    }
                    .link {
                        @include flex;
                        @include flex-column;
                    } 
                }
            }
        }
    }

    #clients {
        margin-bottom: 60px;
        width: 100%;
        @include center;
        // @include lg-screens {
        //     display: none;
        // }
        @include sm-screens {
            margin-bottom: 15px;
        }
        .rect {
            .prev-container {
                height: 549px;
                overflow: hidden;
                @include xl-screens {
                    height: auto;
                }
            }
        }
        .owl-dots {
            height: 0;
        }
        .room-news {
            margin-top: 40px;
            .news-title {
                font-size: 18px;
                font-weight: bold;
                color: $title-black;
                text-transform: uppercase;
            }
            .date-time {
                font-size: 12px;
                font-style: italic;
                letter-spacing: 0.5px;
                margin-bottom: 25px;
                svg {
                    width: 12px;
                }
            }
            .txt-container {
                margin-bottom: 40px;
            }
            .navigation {
                @include flex;
                @include space-between;
                a {
                    text-decoration: none;
                    color: $title-black;
                    font-size: 12px;
                }
            }
        }



        .room-information {
            .reserve-column {
                margin: 60px auto 30px 15px;
                @include flex;
                @include space-between;
                @include lg-screens {
                    margin-left: 0px;
                    @include flex-column;
                }
                p {
                    width: 65%;
                    margin-right: auto;
                    margin-bottom: 0;
                    @include lg-screens {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
                .btn-container {
                    #inline-popups {
                        @include lg-screens {
                            width: 100%;
                            text-align: center;
                        }
                        a {
                            text-decoration: none;
                            color: $default-white;
                        }
                    }
                }
            }
            .highlights-mobile {
                display: none;
                @include lg-screens {
                    border: solid 1px $sky-blue;
                    background-color: $light-blue;
                    padding: 40px  17px 20px;
                    @include flex;
                    @include flex-column;
                    @include space-between;
                    margin-bottom: 20px;
                }  
                .parent-title {
                    padding: 0;
                    list-style-type: none;
                    li {
                        h4 {
                            font-weight: bold;
                            color: $title-black;
                            @include sm-screens {
                                font-size: 16px;
                            }
                        }
                    }
                    ul {
                        list-style-type: none;
                        padding-left: 20px;
                        
                        li {
                            
                            &:before {
                                content: "• ";
                            }
                        }
                    }
                }
                .link {
                    @include flex;
                    @include space-between;
                    
                    &:last-child {
                        margin-right: 50%;
                        @include sm-screens {
                            margin-right: 0;
                        }
                    }
                } 
            }
            .parent-title {
                padding: 0;
                list-style-type: none;
                margin-bottom: 40px;
                li {
                    h4 {
                        font-weight: bold;
                        color: $title-black;
                        @include sm-screens {
                            font-size: 16px;
                        }
                    }
                }
                ul {
                    list-style-type: none;
                    padding-left: 20px;
                    li {
                        
                        &:before {
                            content: "• ";
                        }
                    }
                }
            }
        }
    }
}
.description {
    background-color: $light-blue;
    width: 100%;
    border: 0;
    @include lg-screens {
        padding: 15px;
    }
    .desc-txt {
        height: 100%;
        @include flex;
        @include flex-column;
        @include space-between;
        .desc-title {
            font-size: 18px;
            color: $title-black;
            font-weight: bold;
            width: 50%;
            @include md-screens {
                width: 100%;
            }
        }
        .read-more {
            margin-bottom: 30px;
            a {
                text-decoration: none;
                color: $title-black;
            }
        }
        
    }
    
}
body .wrapper .owl-carousel .owl-nav .owl-next, 
body .wrapper .owl-carousel .owl-nav .owl-prev {
    top: 50% !important;
}