// sizes
$standart-px:16px;
//colors
$default-black:#000;
$default-white:#fff;
$grey:#919191;
$br-bottom:#3d5997;
$grey-white:#fafafa;

$sky-blue:#344d8e;
$light-blue:#f0f4f8;

$title-black:#08122c;

$black: #000000;
$white: #ffffff;
$gray: #2a2a2a;
$gold: #b7ac7f;

$brd-btm-clr:#e8e8e8;

%palatino {
    font-family: 'Palatino' !important;
}
%main-content {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @include center;
    @include sm-screens {
        padding: 0;
    }
} 

%owl-btn {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 70vh;
    outline: none;
    @include lg-screens {
        top: 60vh;
    }
    @include sm-screens {
        top: 30vh;
    }
    svg {
        width: 17px;
        opacity: 0.6;
    }
}
%before-fontawesome {
    position: absolute;
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    left: 0;
}