@font-face {
    font-family: 'Palatino';
    src: url('../assets/fonts/../assets/fonts/Palatino/palatino-webfont.eot');
    src: url('../assets/fonts/Palatino/palatino-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/Palatino/palatino-webfont.woff2') format('woff2'),
         url('../assets/fonts/Palatino/palatino-webfont.woff') format('woff'),
         url('../assets/fonts/Palatino/palatino-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
