/* Setting fade transition and default settings */
@import  "mixins.scss";
body {
    color: #000; //  background-color: #f4f4f4;
    transition: background-color 1s ease;
}

/* panel styles */

.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    // display: flex;
    @include flex;
    @include space-around;
    @include flex-align-center;
    // justify-content: space-around;
    // align-items: center;
    font-family: sans-serif;
    
    .container {
        overflow-y: hidden;
        @include lg-screens {
            max-width: 97.5%;   
        }
    }
}

/* colours */

.color-violet {
    background-color: #7A4EAB !important;
}

.color-indigo {
    background-color: #4332CF !important;
}

.color-blue {
    background-color: #2F8FED !important;
}

.color-green {
    background-color: #4DCF42 !important;
}

.color-yellow {
    background-color: #FFEA00 !important;
}

.color-orange {
    background-color: #F19031 !important;
}

.color-red {
    background-color: #F2293A !important;
}

/* styling for demo, can ignore */

body {
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
}

h1,
h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
}

p {
    max-width: 30em;
    margin-bottom: 1.618em;
}

a {
    color: #4332CF;
}